<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password ChronoVerse</title>
</head>
<body style="height:100vh;font-family: 'Poppins', Arial, sans-serif; color: #4b5563; background-color: #f4f4f4;">
<h1 style="font-weight: bolder; margin: auto;padding: 20px 0; width: fit-content;font-size: 20px;text-align: center">CHRONO<span
        style="color: #f59e0b;">VERSE</span></h1>
<div style="max-width: 600px; margin: auto; background: #ffffff; padding: 40px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); text-align: center;">
    <p style="font-size: 20px; margin: 0px auto; font-weight: 600;">Permintaan Reset Password</p>
    <p style="font-size: 0.9rem;">Anda menerima email ini karena ada permintaan untuk mengganti kata sandi akun
        ChronoVerse Anda. Berikut adalah kode reset yang dapat Anda salin:</p>

    <div style="font-size: 1.1rem; font-weight: 500;background-color: #f9fafb; padding: 10px; margin-top: 20px; border-radius: 6px; color: #F59E0B;">
        {{.Code}}
    </div>

    <p style="font-size: 0.9rem; margin-top: 20px;color: #666;">Atau gunakan link berikut:</p>
    <a style="color: #F59E0B;margin-top: 20px;" href="{{.ResetURL}}">{{.ResetURL}}</a>
    <p style="font-size: 0.9rem;">
        Kode ini hanya berlaku selama {{.Expired}} jam. Jika link telah kedaluwarsa, silakan lakukan
        <a style="color: #F59E0B; text-decoration: none;" href="{{.ResetRequestURL}}">permintaan reset
            password</a> menggunakan email yang terdaftar.
    </p>
    <p style="font-size: 0.9rem;">Jika Anda tidak merasa melakukan permintaan ini, silakan abaikan email ini.</p>
</div>

<p style="width: fit-content; margin: 20px auto;font-size: 12px; color: #666;">© {{.Year}} ChronoVerse.
    All rights reserved.</p>
</body>
</html>
